@import "_Variables";
@import "../App.scss";
.contenedor-detalle-pelicula {
	position: relative;
	.imagen-fondo {
		height: 100vh;
		filter: brightness(50%);
	}
	.contenedor-detalle {
		display: flex;
		position: absolute;
		top: 150px;
		left: 200px;
		.detalle-texto {
			@include flex-column();
			color: $color-titulo;
			width: 55%;
			margin: 10px;
			div {
				display: flex;
				span {
					@include flex();
					margin-left: 15px;
				}
			}
			.descripcion-detalle {
				margin: 20px;
			}
			h4 {
				margin: 10px;
			}
		}
	}
}
