@import "_Variables";
@import "../App.scss";

.contenedor-peliculas {
	display: flex;

	.div-lista-peliculas {
		border: 1px solid black;
		display: flex;
		margin: 20px;
		overflow-y: scroll;
		height: 500px;
		width: 45%;
	}
}
