@import "_Variables";
@import "../App.scss";

.lista-peliculas {
	display: flex;
	width: 100%;
	border: 1px solid #f3e9dd;
	justify-content: space-between;

	.contenedor-imagen {
		@include flex-center();
		img {
			width: 40px;
			height: 40px;
			border-radius: 100%;
			margin: 10px;
		}
	}
	.contenedor-link {
		@include flex();
	}
	.contenedor-icono {
		text-decoration: none;
	}
}
