@import "_Variables";
@import "../App.scss";
.barra-navegacion {
	background-color: $color-principal;

	ul {
		@include flex();
		list-style: none;
		height: 65px;
	}
	li {
		font-size: $letra-links;
		margin: 10px;
		font-size: 15px;
	}
	.link-nav {
		text-decoration: none;
		color: $color-titulo;
	}
}
