@import "_Variables";
@import "../App.scss";
.tarjeta-carrusel {
	background-color: $color-fondo-carousel;
	width: 35%;
	@include flex-center();
	flex-direction: column;
	opacity: 0.8;
	margin: 20px;
	h2 {
		font-weight: $letra-links;
		color: $color-principal;
	}
	button {
		background-color: $color-link-tarjetas;
		color: $color-titulo;
		border: none;
		margin: 5px;
		padding: 10px;
	}
}
@media screen and (max-width: 576px) {
	.tarjeta-carrusel {
		width: 60%;
	}
}
