@import "_Variables";
@import "../App.scss";
main {
	h2 {
		@include flex-justify();
		margin: 5px;
		padding: 10px;
		color: $color-principal;
		font-family: $letra-links;
	}
	.contenedor-tarjetas-peliculas {
		@include flex-wrap();
	}
	.contenedor-paginado {
		@include flex-justify();
	}
}
