$color-principal: #001628;
$letra-titulo: "quicksand";
$letra-links: "nunito";
$color-titulo: #fdfefe;
$color-link-tarjetas: #1990ff;
$color-fondo-tarjetas: #e8e8e8;
$color-fondo-carousel: #828284;
$color-boton-carousel: #328ef2;
$color-fondo-busqueda: #eff2f5;
